/.metadata/
*/Debug/*
*/*.launch
*/*.cfg
**/Debug*/*

**/.settings
# **/.cproject
#**/.mxproject
#**/.project

/memoria_dinamica_ejemplo_01/
/memoria_dinamica_ejemplo_02/
/memoria_dinamica_ejemplo_03/
/F407_grupo_2_tp_1/

/base_stm32f407_mem_dinamica_pre_tp2/
/base_stm32f446re_mem_dinamica_pre_tp2/
